*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$color1: white;
$color2: black;

.navbar{
    background-color: $color1 !important ;
    }

.entrada{
        color: $color2;
        height: auto;
        width: 300px;
        background-color: $color1;
        margin:auto;
        margin-top: 50px;
        letter-spacing: 5px;
        font-size: 30px;
        padding: 10px;
        vertical-align:middle;
        padding-top: 50px;
    
}
.text1{
    color: $color2;
    font-size: 15px;
    padding: 0px;
    letter-spacing: 0px;


}

main{
        height: 100vh;
        width: 100%;
        background-color: $color2;
        background-image: url(Media/entrada.png);
        background-size: cover;
        background-position: center;
        margin-top: 50px;
}


.call h1{
    margin: 50px 50px;
    padding-top: 50px;
    color: $color1;
    width: 50%;
    height: 10px;
}


.call p{
    margin-left: 50px;
    color: $color1;
    width: 50%;
    height: 50px;
}


.marg{
    background-color: black;
}

.sec1{
    height: auto;
    background: $color1;
    color: $color2;
    text-align: center;
    padding: 30px;
    letter-spacing: 10px;
    margin: 40px;
}

.sec2{
    background-image: url(Media/cocinero-vista-lateral-haciendo-deliciosa-pasta.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.sec3{
    height: auto;
    text-align: center;
    padding-top: 50px;
    color: $color2;
    background-color: $color1;
    padding-bottom: 40px;
}


.sec4{
    height: 100px;
    background: $color1;
    color: $color2 ;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 10px;
}

 .sec5{

height: auto;
text-align:center;
padding-top: 50px;
color: $color2;
background-color: $color1;
padding: 100px;
vertical-align: center     
 }
// .sec6{
//     background-image: url(Media/plato-mariscos-gambas-mejillones-langostas-servidas-limon.jpg);
//     background-size: cover;
//     background-position: center;
//     height: 400px;
// }

.carousel-item{
    height: 400px;
    background-position: center;
    background-size: cover;
}


.mapa{
    display: flex;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 20px;
}

footer p{
    margin-bottom: 20px;
}

.redes a{
    text-decoration: none;
    color:white ;
    font-size: 20px; }